# Ignorar la base de datos masiva (Requisito de rúbrica)
data/

# Entornos virtuales y caché de Python
__pycache__/
*.pyc
.ipynb_checkpoints/
.virtualenv/
venv/
env/

# Archivos del sistema
.DS_Store

/.quarto/
**/*.quarto_ipynb
